@font-face {
  font-family: alternateBold;
  src: url('./alternate_bold.ttf');
}
@font-face {
  font-family: dinRG;
  src: url('./dinrg.ttf');
}

* {
  font-family: 'dinRG', sans-serif;
}

.sticky{
  position: sticky;
  position: -webkit-sticky; /* Safari */
  text-align: center;
  top: 0;
  left: 0;
  z-index:99;
  background-color: #F9F4EF;
}

.card-title{
  color: #FD1A16;
}

.date{
  color:black;
}

.navbar-toggler{
  border: 0px;
}

.logo {
  margin: 1.7rem;
  height: 2.7rem;
}

.navbar {
  border-top-style: solid;
  border-top-width: 0.1rem;
  border-top-color: black;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: black;
}

.anchor {
  display: block;
  position: relative;
  top: -275px;
  visibility: hidden;
}

.navbar-toggler-icon {
  background-image: 
  url(
    "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' \
      width='30' \
      height='30' \
      viewBox='0 0 30 30'%3e%3cpath \
      stroke='rgba(0, 0, 0, 0.5)' \
      stroke-miterlimit='10' \
      stroke-width='4' \
      d='M4 7h22M4 15h22M4 23h22'\
      /%3e%3c/svg%3e"
  ) !important;
}